* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container div {
    margin: 5px 0;
}

.limbs, .genders, .radios, #gender-block, #limbs-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gender-block .radios {
    width: 82%;
}

.radios {
    width: 65%;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#send-btn {
    width: 100%;
    background-color: #60243f;
    border-color: #60243f;
}

#policy a {
    color: #60243f;
}

.form-container .form-control:focus {
    outline: none !important;
    border: 1px solid #60243f;
    box-shadow: 0 0 10px #f35b439a;
}